<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="/static/story.css">
  <script src="https://fb.me/react-0.12.0.js"></script>
  <script src="https://fb.me/JSXTransformer-0.12.0.js"></script>
  <script type="text/jsx" src="{% static "SingleHNStory.jsx" %}"></script>
<script type="text/jsx">
/** @jsx React.DOM */
var allTopStories = {{ allStories }};
var hnprojapp = hnprojapp || {};
function monthToStr(month) {
  switch (month) {
    case 0:
      return "Jan"; break;
    case 1:
      return "Feb"; break;
    case 2:
      return "Mar"; break;
    case 3:
      return "Apr"; break;
    case 4:
      return "May"; break;
    case 5:
      return "June"; break;
    case 6:
      return "July"; break;
    case 7:
      return "Aug"; break;
    case 8:
      return "Sept"; break;
    case 9:
      return "Oct"; break;
    case 10:
      return "Nov"; break;
    case 11:
      return "Dec"; break;
  }
  return "";
}
var SingleStory = React.createClass({
  render: function() {
    var url = this.props.story["url"];
    var time = this.props.story["time"] * 1000;
    var storyDate = new Date(time);
    var month = storyDate.getMonth();
    var datestr = monthToStr(month) + " " + storyDate.getDate() + ", " + storyDate.getFullYear();
    var username = "";
    var hnid = this.props.story["hnStoryId"];
    var checkbox = <input type='checkbox' name='storyId' value='{hnid}' className='storyselect'/>;
    if (this.props.showUser) {
      var userurl = 'https://news.ycombinator.com/user?id=' + this.props.story["by"];
      username = <a className="usernameLink" href={userurl}>{this.props.story["by"]}</a>;
    }
    var itemurl = 'https://news.ycombinator.com/item?id=' + this.props.story["id"];
    var scoreLink = <span className="score">
       <a href={itemurl}>{this.props.story.score}</a></span>;
    return (
      <div className="singleStoryDiv">
        {checkbox}
        {scoreLink}
        <a href={url}>{this.props.story["title"]}</a> 
        <span className="storyDate">{datestr}</span>
        <span className="username">{username}</span>
      </div>
    );
  }
});
var AllStories = React.createClass({
  render: function() {
    var storiesArr = this.props.stories;
    storiesArr.sort(function(a, b) {
      return b.score - a.score;
    });
    var elems = [];
    for (var i = 0; i < this.props.stories.length; i++) {
      elems.push(<SingleStory showUser={true} story={this.props.stories[i]} />);
    }
    return (<div>{elems}</div>);
  }
});

var AllStoriesByDate = React.createClass({
  getDisplayDate: function(story) {
    return datestr;

  },

  render: function() {
    // split by date
    var byDate = {};
    var elems = [];
    elems.push(<h3>By date</h3>);
    var numStories = this.props.stories.length;
    for (var i = 0; i < numStories; i++) {
      var story = this.props.stories[i];
      var timeDate = story["time"] * 1000;
      var d = new Date(timeDate);
      var dayDate = new Date(d.getFullYear(), d.getMonth(), d.getDate());
      timeDate = dayDate.getTime() + 5; 
      if (!(timeDate in byDate)) {
        byDate[timeDate] = [];
      }
      byDate[timeDate].push(story)
    }
    var keys = Object.keys(byDate);
    keys.sort();
    keys.reverse();
    for (var j = 0; j < keys.length; j++) {
      var currDate = keys[j];
      var timeDate = new Date(Number(currDate));
      var month = timeDate.getMonth();
      var datestr = monthToStr(month) + " " + timeDate.getDate() + ", " + timeDate.getFullYear();
      var dateStories = byDate[currDate];
      elems.push(<div><h3>{datestr}</h3><AllStories stories={dateStories}/></div>);
    }
    return (<div>{elems}</div>);
  }
});

var topInSources = {{ top_urls }};
React.renderComponent(
  <AllStories stories={topInSources}/>,
  document.getElementById("topSources"));
React.renderComponent(
  <AllStories stories={allTopStories}/>,
  document.getElementById("topStories2"));
</script>
</head>
<body>
<h2>Top Stories</h2>
<div id="topSources"></div>
<h4>All other top stories by score</h4>
<div id="topStories2"></div>
<h4>All other top stories</h4>
<div id="topStories"></div>
</body>
</html>
